@import 'motion.scss';

$sprite-size: 36px;
$sprite-frames: 8;

.btn {
	padding: var(--spacing-sml);
	width: 100%;
	height: 56px;
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	background-color: var(--brand-darken-15);
	color: var(--white);
	border: 0;
	border-radius: var(--border-radius-btn);
	line-height: 1;
	cursor: pointer;
	appearance: none;
	transition: background-color $d-normal $ease-in-out;

	&:focus {
		outline: 1px solid var(--gray-lighten-15);
		outline-offset: 2px;
	}

	&:disabled {
		background-color: var(--gray-lighten-10);
		cursor: default;
	}
	&--grayed-out {
		background-color: var(--gray-lighten-10);
	}
	&--gray {
		background-color: var(--dark-lighten-20);
		width: 100%;

		&:disabled {
			background-color: var(--dark-lighten-10);
		}
	}

	&--small {
		font-size: 0.6rem;
		padding: 0.5rem;
		max-width: 120px;
	}

	&--loading {
		background-color: var(--gray-darken-80);
		cursor: default;

		&::after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: ($sprite-size);
			height: ($sprite-size);
			background: transparent url('/dancing-banana.svg') no-repeat;
			background-position: 0 0;
			background-size: auto ($sprite-size);
			animation: sprite $d-slower forwards infinite steps($sprite-frames);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -($sprite-size / 2);
			margin-left: -($sprite-size / 2);
		}
	}

	&--like {
		height: auto;
		background-color: var(--dark-lighten-20);
		color: var(--white);
	}
}

.btn-group {
	display: flex;
	flex-direction: row;

	.btn {
		margin-bottom: 0;
		margin-right: var(--spacing-base);
	}

	&--column {
		flex-direction: column;
	}

	&--row-column {
		flex-direction: row;
	}

	@media (min-width: 768px) {
		&--row-column {
			flex-direction: column;
		}
		.btn {
			margin-bottom: var(--spacing-base);
			margin-right: 0;
		}
	}
}

.btn-close {
	padding: 0;
	border: 0;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	appearance: none;
	text-decoration: none;
	background: transparent url('/icon-close.svg') no-repeat center/24px;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;

	&:focus {
		outline: 1px solid var(--gray-lighten-15);
		outline-offset: 2px;
	}
}

@keyframes sprite {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -($sprite-size * $sprite-frames) 0;
	}
}
