.show-offline {
	display: none;

	.was-offline & {
		display: block;
		&--message {
			display: none;
		}
	}

	.offline & {
		display: block;
	}

	&--message {
		position: absolute;
		top: 1em;

		@media (min-width: 768px) {
			max-width: 15rem;
			.g-aside--admin & {
				top: 7em;
			}
		}
	}
}
